.webmap {
  height:600px;
  width:70%;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.sliderDiv {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.slider {
  width:40%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1f1f1f;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1f1f1f;
  cursor: pointer;
}

.heading-jumbo-small-map {
  padding-top: 20px;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .webmap {
    width: 100%;
  }

  .slider {
    width: 80%
  }
}
